// Bronze Horseman-specific styles

$primary-color: #16006E;
//$secondary-color: #e9e9e9;

// Workflow Sankey graph
.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}
 
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}
 
.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}
 
.link:hover {
  stroke-opacity: .5;
}


// Contact Us map
#map { height: 250px; }


